    h1 {color: #0C00FF;
        font-family: Times New Roman;
    }
    h2 {color:#000000;
        font-family:courier;}
    p {font-family:arial black;
        font-size:25px;
    }
    img{ center}
    button {height: 10%;
    width: 30%;
        font-family: Courier;
        font-size: 150%;
    }
    body {background-image:url('Home_Scr.jpeg');
        background-repeat: repeat-y;
            background-attachment: scroll;
            background-position:center;
            background-size: 40%;}
    