    h1 {color: #0C00FF;
        font-family: Times New Roman;
    }
    h2 {color:#000000;
        font-family:courier;}
    p {font-family:arial black;
        font-size:20;
    }
    img{ center}
    button {height: 10%;
    width: 30%;
        font-family: Courier;
        font-size: 150%;
    }
    body {background-image: url(ShopBG.jpg);
            background-attachment: scroll;
            background-repeat:  no-repeat;
            background-size: cover;
    