h1{ color:#7BFF00;}
h6{color:#000000;}
html{text-align:center}
li{text-align:left;}
body{background-image:url('road.jpg');
background-attachment: fixed;
background-size: cover;
}
p{color:#FFFFFF;}
li{color:#FFFFFF;}
a{font-size:155%;}
